body {
    font-family: "Mulish", sans-serif;
  }
  
  .search-button {
    background-color: #885df1;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .city-field {
    font-size: 16px;
    background: #f9f7fd;
    display: inline-block;
    margin-bottom: 0;
    padding: 15px 240px 15px 15px;
    border-radius: 4px;
    border: none;
    height: 40px;
    line-height: 20px;
  }
  
  h1 {
    font-size: 38px;
    line-height: 48px;
    margin: 20px 0 10px;
  }
  
  div .weather-info {
    color: #a8a6b4;
  }
  
  div .weather-info strong {
    color: #f65281;
  }
  
  .app {
    background: #f9f7fd;
  }
  
  .weather {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 30px 50px #41326414;
    padding: 40px;
  }
  
  .temp-emoji {
    font-size: 34px;
    position: relative;
    bottom: 10px;
  }
  
  .current-temp {
    font-size: 80px;
    font-weight: 700;
    margin-left: 10px;
  }
  
  .unit {
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: -34px;
  }
  
  .display-temp {
    line-height: 1;
    color: #212121;
    position: fixed;
    right: 20px;
    top: 120px;
  }
  
  footer {
    text-align: center;
    padding-top: 50px;
    color: #a8a6b4;
  }
  
  a {
    color: #885df1;
  }
  